* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

body{
        padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  	position: relative;
  
    
}


@keyframes slide-top {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}


#m-style {
    background: #fff;
    color: #1c1e21;
    line-height: 1.34;
    margin: 0;
    padding: 0;
}


#m-style ,
.main {
    width: 100%;
    display: block;
}

.image {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 100%;
}

.image img {
    display: block;
    width: 65px;
    height: auto;
  margin-top: 20px;
}

.main-title {
    text-align: center;
    font-size: 3em;
    margin: 15px;
}

.description {
    color: #000;
    font-size: 1.5em;
    text-align: center;
    font-family: arial;
    font-weight: 400;
}

form {
    padding: 0;
    margin: 32px 0 0
}

 form input {
    border: 1px solid #0003;
    border-radius: 4px;
    color: #000;
    display: block;
    font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
    font-size: 17px;
    height: 42px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
    min-width: 300px;

}

 form button {
    background: #0a7cff;
    border-radius: 50px;
    color: #fff;
    padding: 9.5px 20px;
    font-size: 1.4em;
    font-weight: 400;
    margin: 24px auto;
    border: none;
    display: flex;
}



.footer {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    margin: 20px 0;
    position: absolute;
    bottom: 8%;
}

a {
    cursor: pointer;
    text-decoration: none
}


 .footer a {
    color: #262626;
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px;
    
}
    